#divMain{
    display: flex;
}

#divButtons{
    display: flex;
}
#divSymbols{
    display: flex;
    flex-direction: column;
}
#divMain{
    display: flex;
    flex-direction: column;
    background: gray;
    width: 240px;
    height: 370px;
}
#textDisplay{
    background: blue;
    border: solid gray;
    text-align: right;
    color: white;
    font-size: larger;
}

button{
    margin: 5px;
    min-width: 50px;
    min-height: 50px;}